body {
  background-color: #030122;
}
body section h1 {
  color: #F7F6F6;
}
body section h2 {
  color: #F7F6F6;
}
body section h3 {
  color: hsl(194, 98%, 43%);
}
body .form-control input {
  display: block;
  margin-bottom: 1em;
}
body .form-control textarea {
  height: 2em;
}
body .form-control .submit {
  display: block;
  border-radius: 2%;
  width: 4em;
  height: 2em;
}
body .servicio {
  background-image: url(../assets/nature-3201813.jpg);
  background-size: cover;
  height: 40em;
}
body .faq {
  background-image: url(../assets/bahamas-410143.jpg);
  background-size: cover;
  height: 40em;
}
body .home {
  background-image: url(../assets/sao-paulo-1936636_1920.jpg);
  background-size: cover;
  height: 40em;
}
body .nois {
  background-image: url(../assets/sunset-1637376.jpg);
  background-size: cover;
  height: 40em;
}
body .cont {
  background-image: url(../assets/alps-7504344.jpg);
  background-size: cover;
  height: 40em;
}
@keyframes redes {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.1, 1.1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  75% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  body header {
    background-color: #f8f8f8;
    width: 100%;
    height: 6em;
    padding: 1em;
  }
  body header .nav-link {
    color: hwb(233 0% 74%);
  }
  body header .nav-link :hover {
    color: #008DB1;
  }
  body p {
    color: #afb2b4;
  }
  body main .salvame {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  body main .salvame .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    width: 60em;
    height: 20em;
    padding: 1em;
    order: -1;
    padding-left: 4em;
    text-align: start;
    color: #f8f8f8;
  }
  body main .salvame .texto p {
    color: hsl(0, 0%, 7%);
    font-weight: 500;
  }
  body main .salvame main section h1 {
    font-size: 1.6em;
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
  }
  body main .salvame p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body main .salvame .imagen {
    display: none;
  }
  body main .salvame .imagen-servicio {
    display: none;
  }
  body .grid {
    display: grid;
    grid-template-columns: 15em;
    grid-template-rows: 20em 17em 10em;
    align-items: center;
    justify-items: center;
    height: 40em;
    padding-left: 1em;
  }
  body .grid article {
    font-size: 1.2em;
    width: 15em;
    height: 8em;
    padding: 1em;
    margin-bottom: 1em;
    display: block;
    color: #f8f8f8;
  }
  body .grid section h2 {
    font-size: 1em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .grid-n {
    display: grid;
    grid-template-columns: 25em;
    grid-template-rows: 25em 25em 25em;
    align-items: center;
    height: 75em;
  }
  body .grid-n article {
    font-size: 1.2em;
    width: 15em;
    height: 8em;
    padding: 1em;
    margin-bottom: 1em;
    display: block;
    color: #f8f8f8;
  }
  body .grid-n section h2 {
    font-size: 1em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .p-fre {
    font-size: 1em;
    width: 20em;
    padding: 2em;
    height: 55em;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 50em;
    grid-template-rows: 10em 25em 10em 15em;
    padding-left: 1em;
  }
  body .p-fre article {
    font-size: 1.2em;
    width: 15em;
    height: 8em;
    padding: 1em;
    margin-bottom: 1em;
    display: block;
    color: #f8f8f8;
  }
  body .p-fre section h2 {
    font-size: 1em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .img-n {
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-top: 8em;
  }
  body .salvame-home {
    padding-top: 20em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #f8f8f8;
  }
  body .salvame-home .texto-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    width: 60em;
    height: 30em;
    padding: 1em;
    margin-bottom: 1em;
    order: 1;
  }
  body .salvame-home .imagen {
    display: none;
  }
  body .salvame-home p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .mas {
    color: hsl(217, 91%, 46%);
    font-size: 1em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    padding-left: 2em;
    text-decoration: none;
    margin-bottom: 2em;
    padding-top: 2em;
  }
  body footer {
    font-size: 1em;
    background-color: hsl(220, 82%, 2%);
    width: 100%;
    height: 10em;
    padding: 1em;
    padding-left: 4em;
  }
  body footer section h3 {
    color: #008DB1;
    font-size: 1em;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: justify;
  }
  body footer section p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body footer .redes {
    width: 5em;
    height: 5em;
    background-image: radial-gradient(#021F54, #3D8AF7);
    padding: 1.2em;
    border-radius: 50%;
    bottom: 5em;
    right: 3em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: redes;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  body .conteiner-fluid .d-block-w-100 {
    width: 90%;
    padding-left: 2em;
    padding-top: 10em;
  }
  body .conteiner-fluid .carousel-control-prev {
    margin-bottom: 1em;
    padding-top: 10em;
  }
  body .conteiner-fluid .carousel-control-next {
    margin-bottom: 1em;
    padding-top: 10em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  body header {
    background-color: #f8f8f8;
    width: 100%;
    height: 6em;
    padding: 1em;
  }
  body header .arriba {
    color: #030122;
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-left: 70em;
  }
  body header .arriba :hover {
    color: #008DB1;
  }
  body p {
    color: #afb2b4;
  }
  body main {
    font-size: 1em;
    background-image: url(../assets/mountains-6272362.jpg);
    background-size: cover;
    height: 30em;
  }
  body main .salvame {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10em;
    justify-content: center;
  }
  body main .salvame .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    width: 50em;
    height: 10em;
    padding: 1em;
    order: -1;
    padding-left: 4em;
  }
  body main .salvame .texto p {
    color: hsl(0, 0%, 7%);
    font-weight: 500;
  }
  body main .salvame main section h1 {
    font-size: 1.6em;
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
  }
  body main .salvame .imagen {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10em;
    padding: 1em;
    order: -1;
    padding-left: 4em;
  }
  body main .salvame .imagen-servicio {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .grid {
    padding-top: 3em;
    display: grid;
    grid-template-columns: 25em 25em;
    grid-template-rows: 25em 10em;
    align-items: center;
    justify-items: center;
    height: 15em;
  }
  body .grid article {
    font-size: 1.2em;
    width: 15em;
    height: 10em;
    padding: 1em;
    margin-bottom: 1em;
    display: block;
  }
  body .grid section h2 {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .grid-n {
    display: grid;
    grid-template-columns: 25em 25em;
    grid-template-rows: 40em 25em;
    align-items: center;
    padding-left: 4em;
  }
  body .grid-n article {
    font-size: 1.2em;
    width: 15em;
    height: 10em;
    padding: 1em;
    margin-bottom: 1em;
    display: block;
  }
  body .grid-n section h2 {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .p-fre {
    font-size: 1em;
    width: 40em;
    padding: 2em;
    height: 40em;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 25em 35em;
    grid-template-rows: 30em 10em;
    padding-left: 4em;
  }
  body .p-fre article {
    font-size: 1.2em;
    width: 15em;
    height: 10em;
    padding: 1em;
    margin-bottom: 1em;
    display: block;
  }
  body .p-fre section h2 {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .img-n {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20em;
    padding-top: 8em;
  }
  body .salvame-home {
    padding-top: 30em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2em;
    justify-content: center;
  }
  body .salvame-home .texto-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    width: 20em;
    height: 15em;
    padding: 1em;
    margin-bottom: 5em;
    order: 1;
  }
  body .salvame-home .imagen {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10em;
    padding: 1em;
    order: -1;
    padding-left: 4em;
  }
  body .salvame-home p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .mas {
    color: hsl(0, 0%, 7%);
    font-size: 1em;
    height: 4em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    padding-top: 3em;
    padding-left: 27.8em;
    margin-bottom: 2em;
  }
  body footer {
    font-size: 1em;
    background-color: hsl(220, 82%, 2%);
    width: 100%;
    height: 8em;
    padding: 1em;
    padding-left: 4em;
  }
  body footer section h3 {
    color: #008DB1;
    font-size: 1em;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: justify;
  }
  body footer section p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body footer .redes {
    width: 5em;
    height: 5em;
    background-image: radial-gradient(#021F54, #3D8AF7);
    padding: 1.4em;
    border-radius: 50%;
    bottom: 5em;
    right: 3em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: redes;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  body .conteiner-fluid .d-block-w-100 {
    width: 75%;
    padding-left: 10em;
    padding-top: 30em;
  }
  body .conteiner-fluid .carousel-control-prev {
    margin-bottom: 1em;
    padding-top: 30em;
  }
  body .conteiner-fluid .carousel-control-next {
    margin-bottom: 1em;
    padding-top: 30em;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  body header {
    background-color: #f8f8f8;
    width: 100%;
    height: 6em;
    margin-bottom: 1em;
    padding: 2em;
  }
  body header .arriba {
    color: #030122;
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-left: 70em;
  }
  body header .arriba :hover {
    color: #008DB1;
  }
  body p {
    color: #afb2b4;
  }
  body main .salvame {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 1em;
  }
  body main .salvame .texto {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    padding-top: 4em;
    order: -1;
    padding-left: 5em;
  }
  body main .salvame .texto p {
    color: hsl(0, 0%, 7%);
    font-weight: 500;
  }
  body main .salvame main section h1 {
    font-size: 2em;
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
  }
  body main .salvame p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body main .salvame .imagen {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5em;
  }
  body main .salvame .imagen-servicio {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 7em;
    padding-left: 2em;
  }
  body .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 30em;
  }
  body .grid article {
    font-size: 1.3em;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 3em;
    display: block;
  }
  body .grid section h2 {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .grid-n {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 60em;
  }
  body .grid-n article {
    font-size: 1.2em;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 1em;
    display: block;
  }
  body .grid-n section h2 {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .p-fre {
    font-size: 1em;
    width: 40em;
    padding: 2em;
    height: 40em;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 30em 30em;
    grid-template-rows: 25em 25em;
    padding-left: 5em;
  }
  body .p-fre article {
    font-size: 1.3em;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 3em;
    display: block;
  }
  body .p-fre section h2 {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .img-n {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10em;
    padding-top: 8em;
  }
  body .salvame-home {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5.5em;
    width: 100%;
  }
  body .salvame-home .texto-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2em;
    height: 5em;
    padding: 3em;
    margin-bottom: 8em;
    order: 1;
    padding-top: 20em;
  }
  body .salvame-home .imagen {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5em;
  }
  body .salvame-home p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .mas {
    font-size: 1.4em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hwb(240 5% 95%);
    justify-content: center;
    padding-left: 29em;
  }
  body footer {
    font-size: 1.2em;
    background-color: hsl(220, 82%, 2%);
    width: auto;
    height: 8em;
    padding: 1em;
  }
  body footer section p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body footer section h3 {
    color: #008DB1;
    font-size: 1.6em;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: justify;
  }
  body footer .redes {
    width: 5em;
    height: 5em;
    background-image: radial-gradient(#021F54, #3D8AF7);
    padding: 1.4em;
    border-radius: 50%;
    bottom: 5em;
    right: 3em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: redes;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  body .conteiner-fluid .d-block-w-100 {
    width: 70%;
    padding-left: 20em;
    margin-bottom: 5em;
    height: 20em;
  }
  body .conteiner-fluid .carousel-control-prev {
    margin-bottom: 1em;
  }
  body .conteiner-fluid .carousel-control-next {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 1440px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  body header {
    background-color: #f8f8f8;
    width: auto;
    margin-bottom: 1em;
    padding: 2em;
    height: 6em;
  }
  body header .arriba {
    color: #030122;
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-left: 70em;
  }
  body header .arriba :hover {
    color: #008DB1;
  }
  body p {
    color: #afb2b4;
  }
  body main .salvame {
    padding-top: 8em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80em;
    padding-left: 5em;
  }
  body main .salvame .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4em;
    width: 60em;
    height: 10em;
    padding: 5em;
    margin-bottom: 5em;
    order: -1;
    padding-left: 4em;
    padding-top: 10em;
  }
  body main .salvame .texto p {
    color: hsl(0, 0%, 7%);
    font-weight: 500;
  }
  body main .salvame main section h1 {
    font-size: 2em;
    font-family: "Prompt", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
  }
  body main .salvame p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body main .salvame .imagen {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  body main .salvame .imagen-servicio {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2em;
  }
  body .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    height: 30em;
    padding-top: 8em;
  }
  body .grid article {
    font-size: 1.3em;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 3em;
    display: block;
  }
  body .grid section h2 {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .grid-n {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    padding-left: 5em;
  }
  body .grid-n article {
    font-size: 1.3em;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 3em;
    display: block;
  }
  body .grid-n section h2 {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .p-fre {
    font-size: 1em;
    width: 100%;
    height: 40em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 8em;
  }
  body .p-fre article {
    font-size: 1.3em;
    width: 20em;
    height: 10em;
    padding: 1em;
    margin-bottom: 3em;
    display: block;
  }
  body .p-fre section h2 {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .img-n {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5em;
    padding-top: 8em;
  }
  body .home {
    background-image: url(../assets/sao-paulo-1936636_1920.jpg);
    background-size: cover;
    height: 45em;
  }
  body .salvame-home {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 6em;
    width: 100%;
  }
  body .salvame-home .texto-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4em;
    width: 40em;
    height: 10em;
    padding: 5em;
    margin-bottom: 3em;
    order: 1;
  }
  body .salvame-home .imagen {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0%;
  }
  body .salvame-home p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body .mas {
    color: #000000;
    text-decoration: none;
    font-size: 1.4em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    padding-left: 38em;
  }
  body footer {
    font-size: 1.2em;
    background-color: hsl(220, 82%, 2%);
    width: auto;
    height: 10em;
    padding: 1em;
  }
  body footer section p {
    font-size: 1.2em;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body footer section h3 {
    color: #008DB1;
    font-size: 1.6em;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: justify;
  }
  body footer .redes {
    width: 5em;
    height: 5em;
    background-image: radial-gradient(#021F54, #3D8AF7);
    padding: 1.4em;
    border-radius: 50%;
    bottom: 5em;
    right: 3em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation-name: redes;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  body .conteiner-fluid .d-block-w-100 {
    width: 100%;
    padding-left: 30em;
    margin-bottom: 5em;
    height: 35em;
    padding-right: 30em;
  }
  body .conteiner-fluid .carousel-control-prev {
    margin-bottom: 1em;
  }
  body .conteiner-fluid .carousel-control-next {
    margin-bottom: 1em;
  }
}/*# sourceMappingURL=styles.css.map */