
html{
@media screen and (min-width: 1024px) and (max-width: 1439px) {  
    body{
        background-color: rgb(0, 0, 0);
        header{
            background-color:#f8f8f8;
            width: 100% ;
            height: 6em;
            margin-bottom: 1em;
            padding: 2em;
            .arriba{
                color: #030122;
                font-size: 1.2em; 
                font-family: "Prompt", sans-serif;
                font-weight: 500;
                font-style: normal;
                & :hover{
                    color: #008DB1;
                }
            }
        }
        p{
            color: #afb2b4;
        }
        main{
            .salvame{
                padding-top:2em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-left: 1em;
                .texto {
                    display: flex;
                    flex-direction: column;
                    font-size: 1.4em;
                    padding-top: 4em;
                    order: -1;
                    padding-left: 5em;
                    p{
                        color: rgb(250, 242, 242);
                        font-weight: 500;
                    }
                }
                main section h1 {
                    font-size: 2em; 
                    font-family: "Prompt", sans-serif;
                    font-weight: 800;
                    font-style: normal;
                    text-align: center;
                }
                p{
                    font-size: 1.2em;
                    font-family: "Prompt", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                }
                .imagen{
                    width: 50%; 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 5em; 
                }
                .imagen-servicio{
                    width: 40%; 
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start; 
                    padding-top: 7em;
                    padding-left: 2em;
                }
            }
        }
        .grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
            height:30em;
            article{
            font-size: 1.3em;
            width: 20em;
            height: 10em;
            padding: 1em;
            margin-bottom: 3em;
            display: block;
            }
            section h2{
            font-size: 1.2em;
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
            }
            }
        .grid-n{
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: center;
            justify-items: center;
            height: 60em;
            article{
            font-size: 1.2em;
            width: 20em;
            height: 10em;
            padding: 1em;
            margin-bottom: 1em;
            display: block;
            }
            section h2{
            font-size: 1.2em;
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
            }
        }
        .p-fre{
            font-size: 1em;
            width:40em;
            padding: 2em;
            height: 40em;
            margin-bottom: 4em;
            display: grid;
            grid-template-columns: 30em 30em;
            grid-template-rows:25em 25em ;
            padding-left: 5em;
            article{
                font-size: 1.3em;
                width: 20em;
                height: 10em;
                padding: 1em;
                margin-bottom: 3em;
                display: block;
                }
                section h2{
                font-size: 1.2em;
                font-family: "Prompt", sans-serif;
                font-weight: 400;
                font-style: normal;
                }
        }
        .img-n{
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: 10em;
            padding-top: 8em;
        }
        .salvame-home{
            padding-top:2em;
            display: flex;
            flex-direction: row;
            justify-content:center;
            padding-left: 5.5em;
            width: 100%;
            .texto-home{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 1.2em;
                height: 5em;
                padding:3em;
                margin-bottom: 8em;
                order: 1;
                padding-top: 20em;
            }
            .imagen{
                width: 50%; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 5em; 
            }
            p{
                font-size: 1.2em;
                font-family: "Prompt", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
        }
        .mas{
            font-size: 1.4em;
            font-family: "Prompt", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: hwb(240 5% 95%);
            justify-content: center;
            padding-left: 29em;
        }
        footer {
            font-size: 1.2em;
            background-color:hsl(220, 82%, 2%);
            width: auto;
            height: 8em;
            padding: 1em;
            section p{
                font-size: 1.2em;
                font-family: "Prompt", sans-serif;
                font-weight: 400;
                font-style: normal;
            }
            section h3{
                color: #008DB1;
                font-size: 1.6em; 
                font-family: "Prompt", sans-serif;
                font-weight: 600;
                font-style: normal;
                text-align: justify;
            }
            .redes{
                width: 5em;
                height: 5em;
                background-image: radial-gradient(#021F54, #3D8AF7);
                padding: 1.4em;
                border-radius: 50%;
                bottom: 5em;
                right: 3em;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                animation-name: redes;
                animation-duration:3s ;
                animation-delay: 0.5s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }
        .conteiner-fluid{
            .d-block-w-100{
                width: 70%;
                padding-left: 20em;
                margin-bottom: 5em;
                height: 20em;
        
            }
            .carousel-control-prev{
                margin-bottom: 1em;
            }
            .carousel-control-next{
                margin-bottom: 1em;
            }
        }
        }
    }
}