
html{

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body{
            background-color: rgb(0, 0, 0);
            header{
                background-color:#f8f8f8;
                width: 100%;
                height: 6em;
                padding: 1em;
                .arriba{
                    color: #030122;
                    font-size: 1.2em; 
                    font-family: "Prompt", sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    & :hover{
                        color: #008DB1;
                    }
                }
            }
            p{
                color: #afb2b4;
            }
            main {
                font-size: 1em;
                background-image: url(../assets/mountains-6272362.jpg);
                background-size: cover;
                height: 30em;
                .salvame{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    justify-content: center;
                    padding-top: 15em;
                    .texto {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 1.2em;
                        width: 50em;
                        height: 10em;
                        padding: 1em;
                        order: -1;
                        padding-left: 4em;
                        p{
                            color: rgb(250, 242, 242);
                            font-weight: 500;
                        }
                    }
                    main section h1 {
                        font-size: 1.6em;
                        font-family: "Prompt", sans-serif;
                        font-weight: 800;
                        font-style: normal;
                        text-align: center;
                    }
                    .imagen{
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 10em;
                        padding: 1em;
                        order: -1;
                        padding-left: 4em;
                    }
                    .imagen-servicio{
                        width: 45%; 
                        display: flex;
                        flex-direction: column;
                        justify-content: center; 
                    }
                }
            }
            .grid{
                padding-top: 3em;
                display: grid;
                grid-template-columns:25em 25em;
                grid-template-rows:25em 10em;
                align-items: center;
                justify-items: center;
                height: 15em;
                article{
                    font-size: 1.2em;
                    width: 15em;
                    height: 10em;
                    padding: 1em;
                    margin-bottom: 1em;
                    display: block;
                }
                section h2{
                    font-size: 1.2em;
                    font-family: "Prompt", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                }
            }
            .grid-n{
                display: grid;
                grid-template-columns:25em 25em;
                grid-template-rows: 40em 25em;
                align-items: center;
                padding-left: 4em;
                article{
                    font-size: 1.2em;
                    width: 15em;
                    height: 10em;
                    padding: 1em;
                    margin-bottom: 1em;
                    display: block;
                }
                section h2{
                    font-size: 1.2em;
                    font-family: "Prompt", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                }
            }
            .p-fre{
                font-size: 1em;
                width:40em;
                padding: 9em;
                height: 50em;
                margin-bottom: 4em;
                display: grid;
                grid-template-columns: 25em 35em;
                grid-template-rows:25em 10em ;
                padding-left: 4em;
                article{
                    padding-top:10em;
                    font-size: 1.2em;
                    width: 15em;
                    height: 10em;
                    padding: 1em;
                    margin-bottom: 1em;
                    display: block;
                }
                section h2{
                    font-size: 1.2em;
                    font-family: "Prompt", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                }
            }
            .img-n{
                width: 10%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 20em;
                padding-top: 8em;
            }
            .salvame-home{
                padding-top:30em;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding-left: 2em;
                justify-content: center;
                .texto-home{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 1.2em;
                    width: 20em;
                    height: 15em;
                    padding: 1em;
                    margin-bottom: 5em;
                    order: 1;
                }
                .imagen{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 10em;
                    padding: 1em;
                    order: -1;
                    padding-left: 4em;
                }
                p{
                    font-size: 1.2em;
                    font-family: "Prompt", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                }
            }
            .mas{
                color: hsl(0, 0%, 7%);
                font-size: 1em;
                height: 4em;
                font-family: "Prompt", sans-serif;
                font-weight: 400;
                font-style: normal;
                justify-content: center;
                padding-top: 3em;
                padding-left: 27.8em;
                margin-bottom: 2em;
            }
            footer {
                font-size: 1em;
                background-color:hsl(220, 82%, 2%);
                width: 100%;
                height: 8em;
                padding: 1em;
                padding-left: 4em;
                section h3{
                    color: #008DB1;
                    font-size: 1em;
                    font-family: "Prompt", sans-serif;
                    font-weight: 600;
                    font-style: normal;
                    text-align: justify;
                }
                section p{
                    font-size: 1.2em;
                    font-family: "Prompt", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                }
                .redes{
                    width: 5em;
                    height: 5em;
                    background-image: radial-gradient(#021F54, #3D8AF7);
                    padding: 1.4em;
                    border-radius: 50%;
                    bottom: 5em;
                    right: 3em;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    animation-name: redes;
                    animation-duration:3s ;
                    animation-delay: 0.5s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                }
            }
            .conteiner-fluid{
                .d-block-w-100{
                    width: 75%;
                    padding-left: 10em;
                    padding-top: 30em;
                    
                }
                .carousel-control-prev{
                    margin-bottom: 1em;
                    padding-top: 30em;
                }
                .carousel-control-next{
                    margin-bottom: 1em;
                    padding-top: 30em;
                }
            }
        }
    }
}